.sidebar {
  background: #363740;
  min-height: 100vh;
  min-width: 20vw;
  .btn {
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #a4a6b3;
    border: none;
  }
}
